{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
    <div class="container">
      <div class="row">
        
      </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h3>Oops! Página no encontrada</h3>
                    <h1><span>4</span><span>0</span><span>4</span></h1>
                </div>
                <h2>lo sentimos, pero no se encontró la página que solicitó</h2>
            </div>
        </div>
    </div>
</section>    
{% endblock %}