{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Modificar contacto</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'contact-list' %}">Contactos</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if error %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!</strong> {{error}}
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" action="{% url 'contact-mod' contacto.id %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Cliente: </label>
          <div class="controls">
            <select name="id-client" id="id-client">
              {% for cliente in lista_clientes %}
                {% if cliente == contacto.cliente %}
                  <option value="{{ cliente.id }}" selected="">{{ cliente.nombre }}</option>
                {%else%}
                  <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Nombre: </label>
          <div class="controls">
            {% if errors.0 %}
              <input type="text" name="name" id="name" value="{{nombre}}">
              <p class="error">{{errors.0}}</p>
            {% else %}
              <input type="text" name="name" id="name" value="{{contacto.nombre}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Email: </label>
          <div class="controls">
            {% if errors.1 %}
              <input type="email" name="email" id="email" value="{{email}}">
              <p class="error">{{errors.1}}</p>
            {% else %}
              <input type="email" name="email" id="email" value="{{contacto.email}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Celular: </label>
          <div class="controls">
            {% if errors.2 %}
              <input type="number" name="cellphone" id="cellphone" value="{{celular}}">
              <p class="error">{{errors.2}}</p>
            {% else %}
              <input type="number" name="cellphone" id="cellphone" value="{{contacto.celular}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Fijo: </label>
          <div class="controls">
            {% if errors.3 %}
              <input type="text" name="phone" id="phone" value="{{fijo}}">
              <p class="error">{{errors.3}}</p>
            {% else %}
              <input type="text" name="phone" id="phone" value="{{contacto.fijo}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <div class="controls2">

            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'contact-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
            <a href="#Eliminar"  data-toggle="modal" class="btn btn-square btn-red">Eliminar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Eliminar Modal -->
  <div id="Eliminar" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel"
    aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="mySignupModalLabel"><strong>¿Está seguro?</strong></h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" style="margin-bottom: 0px;" action="{% url 'contact-delete' contacto.id %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <p>
            ¿Seguro que desea eliminar el contacto "{{ contacto.nombre }}"?
          </p>
        </div>
        <div class="control-group">
          <div class="controls3">
            <button type="submit" class="btn btn-square btn-danger">Si, eliminar</button>
            <button  data-dismiss="modal" aria-hidden="true" class="btn btn-square btn-default">No, volver</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end signup modal -->
</section>
{% endblock %}