{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Agregar cliente</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'admin-client-list' %}">Clientes</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!!</strong> Por favor corrija el error a continuación.
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'client-create' %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Nombre: </label>
          <div class="controls">
            <input type="text" name="name" required id="name" value="{{nombre}}">
            <p class="error">{{errors.0}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Días: </label>
          <div class="controls">
            <select name="days" id="days">
              <option value="ll">Lunes a Lunes</option>
              <option value="lv">Lunes a Viernes</option>
              <option value="lmv">Lunes, Miercoles y Viernes</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Inicio Horario: </label>
          <div class="controls">
            <input type="time" name="hour1" required id="hour1" value="{{horarioInicio}}">
            <p class="error">{{errors.1}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Final Horario: </label>
          <div class="controls">
            <input type="time" name="hour2" required id="hour2" value="{{horarioFinal}}">
            <p class="error">{{errors.2}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Plataformas: </label>
          <div class="controls">
            <select name="plataform" id="plataform" multiple>
              {% for plataforma in lista_plataformas %}
                <option value="{{plataforma.id}}" style="text-transform: capitalize;">{{plataforma.nombre}} ({{plataforma.tipo}})</option>
              {% endfor %}
            </select>
            <p class="error">{{errors.3}}</p> 
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Imagen: </label>
          <div class="controls">
            <input type="file" accept="image/*" name="image" id="image">   
            <p class="error">{{errors.4}}</p>            
          </div>
        </div>
        <div class="control-group">
          <div class="controls2">
            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'admin-client-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}