{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Agregar usuario</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'user-list' %}">Usuarios</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!!</strong> Por favor corrija el error a continuación.
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" action="{% url 'user-create' %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Username: </label>
          <div class="controls">
            <input type="text" name="username" id="username" required value="{{username}}">
            <p class="error">{{errors.0}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Nombres: </label>
          <div class="controls">
            <input type="text" name="firstName" id="firstName" required value="{{firstName}}">
            <p class="error">{{errors.1}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Apellidos: </label>
          <div class="controls">
            <input type="text" name="lastName" id="lastName" required value="{{lastName}}">
            <p class="error">{{errors.2}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Email: </label>
          <div class="controls">
            <input type="email" name="email" id="email" required value="{{email}}"> 
            <p class="error">{{errors.3}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Password: </label>
          <div class="controls">
            <input type="password" name="password" id="password" required value="{{password}}">
            <p class="error">{{errors.4}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Admin: </label>
          <input type="checkbox" name="is_admin" id="is_admin">
        </div>
        <div class="control-group">
          <div class="controls2">

            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'user-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}