{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Modificar documento</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'admin-document-list' %}">Documentos</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!!</strong> Por favor corrija el error a continuación.
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'document-mod' documento.id %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Título: </label>
          <div class="controls">
            {% if errors.0 %}
              <input type="text" name="title" id="title" value="{{titulo}}">
              <p class="error">{{errors.0}}</p>
            {% else %}
              <input type="text" name="title" id="title" value="{{documento.titulo}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Autor: </label>
          <div class="controls">
            <select name="id-user" id="id-user">
              {% for usuario in lista_usuarios %}
                {% if usuario == documento.autor %}
                  <option value="{{ usuario.id }}" selected="">{{ usuario.username }}</option>
                {%else%}
                  <option value="{{ usuario.id }}">{{ usuario.username }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Categoría: </label>
          <div class="controls">
            <select name="category" id="category">
              {% if documento.categoria == 'reportes' %}
               <option value="reportes" selected="">Reportes</option>
              {% else %}
                <option value="reportes">Reportes</option>
              {% endif %}
              {% if documento.categoria == 'informes' %}
                <option value="informes" selected="">Informes</option>
              {% else %}
                <option value="informes">Informes</option>
              {% endif %}
              {% if documento.categoria == 'procesosBK' %}
                <option value="procesosBK" selected="">Proceso BackUp</option>
              {% else %}
                <option value="procesosBK">Proceso BackUp</option>
              {% endif %}
              {% if documento.categoria == 'tutorial' %}
                <option value="tutorial" selected="">Tutorial</option>
              {% else %}
                <option value="tutorial">Tutorial</option>
              {% endif %}
              {% if documento.categoria == 'articulo' %}
                <option value="articulo" selected="">Artículo</option>
              {% else %}
                <option value="articulo">Artículo</option>
              {% endif %}                          
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Descripción: </label>
          <div class="controls" >
            {% if errors.1 %}
            <input type="text" name="description" id="description" value="{{descripcion}}">
              <p class="error">{{errors.1}}</p>
            {% else %}
              <input type="text" name="description" id="description" value="{{documento.descripcion}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Archivo: </label>
          <div class="controls">
            <p>
              Actual: 
              <a href="{{ documento.archivo.url }}">{{documento.archivo}}</a>
              <br>
              Cambiar: 
              <input type="file" name="file" id="file">
            </p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Publicado: </label>
          {% if documento.estado == True %}
            <input type="checkbox" name="status" id="status" checked>
          {% else %}
            <input type="checkbox" name="status" id="status">
          {% endif %}
        </div>
        <div class="control-group">
          <div class="controls2">

            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'admin-document-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
            <a href="#Eliminar"  data-toggle="modal" class="btn btn-square btn-red">Eliminar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Eliminar Modal -->
  <div id="Eliminar" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel"
    aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="mySignupModalLabel"><strong>¿Está seguro?</strong></h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" style="margin-bottom: 0px;" action="{% url 'document-delete' documento.id %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <p>
            ¿Seguro que desea eliminar el documento "{{documento.titulo}}"?
          </p>
        </div>
        <div class="control-group">
          <div class="controls3">
            <button type="submit" class="btn btn-square btn-danger">Si, eliminar</button>
            <button  data-dismiss="modal" aria-hidden="true" class="btn btn-square btn-default">No, volver</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end signup modal -->
</section>
{% endblock %}