{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Modificar usuario</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'user-list' %}">Usuarios</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!!</strong> Por favor corrija el error a continuación.
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" action="{% url 'user-mod' usuario.id %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Username: </label>
          <div class="controls">
            {% if errors.0 %}
            <input type="text" name="username" id="username" value="{{username}}">
            <p class="error">{{errors.0}}</p>
            {% else %}
            <input type="text" name="username" id="username" value="{{usuario.username}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Nombres: </label>
          <div class="controls">
            {% if errors.1 %}
            <input type="text" name="firstName" id="firstName" value="{{first_name}}">
            <p class="error">{{errors.1}}</p>
            {% else %}
            <input type="text" name="firstName" id="firstName" value="{{usuario.first_name}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Apellidos: </label>
          <div class="controls">
            {% if errors.2 %}
            <input type="text" name="lastName" id="lastName" value="{{last_name}}">
            <p class="error">{{errors.2}}</p>
            {% else %}
            <input type="text" name="lastName" id="lastName" value="{{usuario.last_name}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Email: </label>
          <div class="controls">
            {% if errors.3 %}
            <input type="email" name="email" id="email" value="{{email}}">
            <p class="error">{{errors.3}}</p>
            {% else %}
            <input type="email" name="email" id="email" value="{{usuario.email}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Admin: </label>
          {% if usuario.is_staff == True %}
            <input type="checkbox" name="is_admin" id="is_admin" checked>
          {% else %}
            <input type="checkbox" name="is_admin" id="is_admin">
          {% endif %}
        </div>
        <div class="control-group">
          <div class="controls2">
            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'user-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
            <a href="#Eliminar" data-toggle="modal" class="btn btn-square btn-red">Eliminar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Eliminar Modal -->
  <div id="Eliminar" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel"
    aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="mySignupModalLabel"><strong>¿Está seguro?</strong></h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" style="margin-bottom: 0px;" action="{% url 'user-delete' usuario.id %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <p>
            ¿Seguro que desea eliminar el usuario "{{usuario.username}}"?
          </p>
        </div>
        <div class="control-group">
          <div class="controls3">
            <button type="submit" class="btn btn-square btn-danger">Si, eliminar</button>
            <button  data-dismiss="modal" aria-hidden="true" class="btn btn-square btn-default">No, volver</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end signup modal -->
</section>
{% endblock %}