{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Agregar plataforma</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'admin-plataform-list' %}">Plataformas</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!!</strong> Por favor corrija el error a continuación.
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'plataform-create' %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Nombre: </label>
          <div class="controls">
            <input type="text" name="name" id="name" value="{{nombre}}">
            <p class="error">{{errors.0}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Categoría: </label>
          <div class="controls">
            <select name="type" id="type">
              <option value="firewall">Firewall</option>
              <option value="ips">IPS</option>
              <option value="proxy">Proxy</option>
              <option value="otro">Otro</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Descripción: </label>
          <div class="controls">
            <input type="text" name="description" id="description" value="{{descripcion}}">
            <p class="error">{{errors.1}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Imagen: </label>
          <div class="controls">
            <input type="file" accept="image/*" name="image" id="image">
            <p class="error">{{errors.2}}</p>
          </div>
        </div>
        <div class="control-group">
          <div class="controls2">
            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'admin-plataform-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}