{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Agregar documento</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'admin-document-list' %}">Documentos</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!!</strong> Por favor corrija el error a continuación.
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'document-create' %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Título: </label>
          <div class="controls">
            <input type="text" name="title" id="title" value="{{titulo}}">
            <p class="error">{{errors.0}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Autor: </label>
          <div class="controls">
            <select name="id-user" id="id-user">
              {% if autor %}
              {% else %}
                <option selected value="0">---------</option>
              {% endif %}
              {% for usuario in lista_usuarios %}
                {% if usuario == autor %}
                  <option value="{{ usuario.id }}" selected>{{ usuario.username }}</option>
                {% else %}
                  <option value="{{ usuario.id }}">{{ usuario.username }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <p class="error">{{errors.1}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Categoría: </label>
          <div class="controls">
            <select name="category" id="category">
              <option value="reportes">Reportes</option>
              <option value="informes">Informes</option>
              <option value="procesosBK">Proceso BackUp</option>
              <option value="tutorial">Tutorial</option>
              <option value="articulo">Artículo</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Descripción: </label>
          <div class="controls" >
            <input type="text" name="description" id="description" value="{{descripcion}}">
            <p class="error">{{errors.2}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Archivo: </label>
          <div class="controls">
            <input type="file" accept="file/*" name="file" id="file">
            <p class="error">{{errors.3}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Publicado: </label>
          <input type="checkbox" name="status" id="status">
        </div>
        <div class="control-group">
          <div class="controls2">

            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'admin-document-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}