{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Clientes</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'admin-client-list' %}">Clientes</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  
  <div class="container">
    <div>
      <form class="form-search">
        <input placeholder="Escribe algo..." type="text" class="input-xlarge search-query">
        <button type="submit" class="btn btn-square btn-theme">Buscar</button>
        <a href="{% url 'client-create-form' %}" class="btn btn-square btn-theme" style="float:right;"><i class="icon-plus-sign"></i> Agregar</a>
      </form>
      
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>EMPRESA</th>
          <th>DIAS OPERACIÓN</th>
          <th>HORA INICIO OPERACIÓN</th>
          <th>HORA FIN OPERACIÓN</th>
          <th>PLATAFORMAS</th> 
        </tr>
      </thead>
      <tbody>
        {% for cliente in lista_clientes %}
        <tr>
          <th>{{cliente.id}}</th>
          <th><a href="{% url 'client-mod-form' cliente.id %}">{{cliente.nombre}}</a></th>
          {% if cliente.dias == 'll' %}
            <th>Lunes a Lunes</th>
          {% elif cliente.dias == 'lv'%} 
            <th>Lunes a Viernes</th>
          {% else %}
            <th>Lunes, Miercoles y Viernes</th>
          {% endif %}
          <th>{{cliente.horarioInicio|date:'H:i'}}</th>
          <th>{{cliente.horarioFinal|date:'H:i'}}</th>
          <th>
            <ul>
              {% for plataforma in cliente.plataforma.all %}
                <li style="text-transform: capitalize;">{{plataforma}} ({{plataforma.tipo}})</li>    
              {% endfor %}        
             </ul>             
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}