{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Contactos</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'contact-list' %}">Contactos</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  
  <div class="container">
    <div>
      <form class="form-search">
        <input placeholder="Escribe algo..." type="text" class="input-xlarge search-query">
        <button type="submit" class="btn btn-square btn-theme">Buscar</button>
        <a href="{% url 'contact-create-form' %}" class="btn btn-square btn-theme" style="float:right;"><i class="icon-plus-sign"></i> Agregar</a>
      </form>
      
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>CLIENTE</th>
          <th>CORREO</th>
          <th>CELULAR</th>
          <th>TELÉFONO</th>
        </tr>
      </thead>
      <tbody>
        {% for contacto in lista_contactos %}
        <tr>
          <th>{{contacto.id}}</th>
          <th><a href="{% url 'contact-mod-form' contacto.id %}">{{contacto.nombre}}</a></th>
          <th>{{contacto.cliente}}</th>
          <th>{{contacto.email}}</th>
          <th>{{contacto.celular}}</th>
          <th>{{contacto.fijo}}</th>          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}