{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Modificar cliente</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'admin-client-list' %}">Clientes</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!!</strong> Por favor corrija el error a continuación.
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'client-mod' cliente.id %}"
        method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Nombre: </label>
          <div class="controls">
            {% if errors.0 %}
              <input type="text" name="name" required id="name" value="{{nombre}}">
              <p class="error">{{errors.0}}</p>
            {% else %}
              <input type="text" name="name" required id="name" value="{{cliente.nombre}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Días: </label>
          <div class="controls">
            <select name="days" id="days">
              {% if cliente.dias == 'll' %}
                <option value="ll" selected=''>Lunes a Lunes</option>
              {% else %}
                <option value="ll" >Lunes a Lunes</option>
              {% endif %}
              {% if cliente.dias == 'lv' %}
                <option value="lv" selected=''>Lunes a Viernes</option>
              {% else %}
                <option value="lv">Lunes a Viernes</option>
              {% endif %}
              {% if cliente.dias == 'lmv' %}
                <option value="lmv" selected=''>Lunes, Miercoles y Viernes</option>
              {% else %}
                <option value="lmv">Lunes, Miercoles y Viernes</option>
              {% endif %}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Inicio Horario: </label>
          <div class="controls">
            {% if errors.1 %}
              <input type="time" name="hour1" required id="hour1" value="{{horarioInicio}}">
              <p class="error">{{errors.1}}</p>
            {% else %}
              <input type="time" name="hour1" required id="hour1" value="{{cliente.horarioInicio|date:'H:i'}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Final Horario: </label>
          <div class="controls">
            {% if errors.2 %}
              <input type="time" name="hour2" required id="hour2" value="{{horarioFinal}}">
              <p class="error">{{errors.2}}</p>
            {% else %}
              <input type="time" name="hour2" required id="hour2" value="{{cliente.horarioFinal|date:'H:i'}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Plataformas: </label>
          <div class="controls">
            <select name="plataform" id="plataform" multiple>
              {% for plataforma in lista_plataformas %}
                {% if plataforma in cliente.plataforma.all %}
                  <option value="{{plataforma.id}}" selected style="text-transform: capitalize;">{{plataforma}} ({{plataforma.tipo}})</option>   
                {% else %}
                  <option value="{{plataforma.id}}" style="text-transform: capitalize;">{{plataforma}} ({{plataforma.tipo}})</option> 
                {% endif %}
              {% endfor %}
            </select>
            <p class="error">{{errors.3}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Imagen: </label>
          <div class="controls">
            <p>
              Actual: 
              <a href="{{ cliente.imagen.url }}">{{cliente.imagen}}</a>
              <br>
              Cambiar: 
              <input type="file" accept="image/*" name="image" id="image">
            </p>
          </div>
        </div>
        <div class="control-group">
          <div class="controls2">

            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'admin-client-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
            <a href="#Eliminar" data-toggle="modal" class="btn btn-square btn-red">Eliminar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Eliminar Modal -->
  <div id="Eliminar" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel"
    aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="mySignupModalLabel"><strong>¿Está seguro?</strong></h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" style="margin-bottom: 0px;" action="{% url 'client-delete' cliente.id %}"
        method="POST">
        {% csrf_token %}
        <div class="control-group">
          <p>
            ¿Seguro que desea eliminar el cliente "{{cliente.nombre}}"?
          </p>
        </div>
        <div class="control-group">
          <div class="controls3">
            <button type="submit" class="btn btn-square btn-danger">Si, eliminar</button>
            <button data-dismiss="modal" aria-hidden="true" class="btn btn-square btn-default">No, volver</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end signup modal -->
</section>
{% endblock %}