{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Modificar comando</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'command-list' %}">Comandos</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!!</strong> Por favor corrija el error a continuación.
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" action="{% url 'command-mod' comando.id %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Plataforma: </label>
          <div class="controls">
            <select name="id-plataform" id="id-plataform">
              {% for plataforma in lista_plataformas %}
                {% if plataforma == comando.plataforma %}
                  <option value="{{ plataforma.id }}" selected>{{ plataforma.nombre }} ({{ plataforma.tipo }})</option>
                {% else %}
                  <option value="{{ plataforma.id }}">{{ plataforma.nombre }} ({{ plataforma.tipo }})</option>
                {% endif %}  
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Comando: </label>
          <div class="controls">
            {% if errors.0 %}
              <input type="text" name="command" id="command" required  value="{{comand}}">
              <p class="error">{{errors.0}}</p>
            {% else %}
              <input type="text" name="command" id="command" required  value="{{comando.comando}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Descripción: </label>
          <div class="controls">
            {% if errors.1 %}
              <input type="text" name="description" id="description" required  value="{{descripcion}}">
              <p class="error">{{errors.1}}</p>
            {% else %}
              <input type="text" name="description" id="description" required  value="{{comando.descripcion}}">
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <div class="controls2">

            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'command-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
            <a href="#Eliminar"  data-toggle="modal" class="btn btn-square btn-red">Eliminar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Eliminar Modal -->
  <div id="Eliminar" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel"
    aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="mySignupModalLabel"><strong>¿Está seguro?</strong></h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" style="margin-bottom: 0px;" action="{% url 'command-delete' comando.id %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <p>
            ¿Seguro que desea eliminar el comando "{{comando.comando}}"?
          </p>
        </div>
        <div class="control-group">
          <div class="controls3">
            <button type="submit" class="btn btn-square btn-danger">Si, eliminar</button>
            <button  data-dismiss="modal" aria-hidden="true" class="btn btn-square btn-default">No, volver</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end signup modal -->
</section>
{% endblock %}