{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Plataformas</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'admin-plataform-list' %}">Plataformas</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  
  <div class="container">
    <div>
      <form class="form-search">
        <input placeholder="Escribe algo..." type="text" class="input-xlarge search-query">
        <button type="submit" class="btn btn-square btn-theme">Buscar</button>
        <a href="{% url 'plataform-create-form' %}" class="btn btn-square btn-theme" style="float:right;"><i class="icon-plus-sign"></i> Agregar</a>
      </form>
      
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>PLATAFORMA</th>
          <th>TIPO</th>
          <th>DESCRIPCIÓN</th>
        </tr>
      </thead>
      <tbody>
        {% for plataforma in lista_plataformas %}
        <tr>
          <th>{{plataforma.id}}</th>
          <th><a href="{% url 'plataform-mod-form' plataforma.id %}">{{plataforma.nombre}}</a></th>
          <th>{{plataforma.tipo}}</th>
          <th>{{plataforma.descripcion}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}