{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Documentos</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'admin-document-list' %}">Documentos</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  
  <div class="container">
    <div>
      <form class="form-search">
        <input placeholder="Escribe algo..." type="text" class="input-xlarge search-query">
        <button type="submit" class="btn btn-square btn-theme">Buscar</button>
        <a href="{% url 'document-create-form' %}" class="btn btn-square btn-theme" style="float:right;"><i class="icon-plus-sign"></i> Agregar</a>
      </form>
      
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>TITULO</th>
          <th>AUTOR</th> 
          <th>FECHA</th>
          <th>CATEGORÍA</th>     
          <th style="width: 600px;">DESCRIPCIÓN</th>
          <th>ESTADO</th>
        </tr>
      </thead>
      <tbody>
        {% for documento in lista_documentos %}
        <tr>
          <th>{{documento.id}}</th>
          <th><a href="{% url 'document-mod-form' documento.id %}">{{documento.titulo}}</a></th>
          <th>{{documento.autor}}</th>
          <th>{{documento.fechaPublicacion}}</th>
          <th>{{documento.categoria}}</th>
          <th>{{documento.descripcion}}</th>
          {% if documento.estado == True %}
            <th><img class="icono" src="{% static 'ico/icon-yes.svg' %}" alt=""></th>
          {% else %}
            <th><img class="icono" src="{% static 'ico/icon-no.svg' %}" alt=""></th>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}