{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Agregar contacto</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'contact-list' %}">Contactos</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if error %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!</strong> {{error}}
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" action="{% url 'contact-create' %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Cliente: </label>
          <div class="controls">
            <select name="id-client" id="id-client">
              {% if cliente %}
              {% else %}
                <option selected  value="0">---------</option>
              {% endif %}
              {% for client in lista_clientes %}
                {% if client == cliente %}
                  <option selected value="{{ cliente.id }}">{{cliente.nombre}}</option>
                {%else%}
                  <option value="{{ client.id }}">{{ client.nombre }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <p class="error">{{errors.0}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Nombre: </label>
          <div class="controls">
            <input type="text" name="name" id="name" required value="{{nombre}}">
            <p class="error">{{errors.1}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Email: </label>
          <div class="controls">
            <input type="email" name="email" id="email" required value="{{email}}">
            <p class="error">{{errors.2}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Celular: </label>
          <div class="controls">
            <input type="number" name="cellphone" id="cellphone" required value="{{celular}}">
            <p class="error">{{errors.3}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Fijo: </label>
          <div class="controls">
            <input type="text" name="phone" id="phone" required value="{{fijo}}">
            <p class="error">{{errors.4}}</p>
          </div>
        </div>
        <div class="control-group">
          <div class="controls2">

            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'contact-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}