{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Actividades</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'activity-list' %}">Actividades</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  
  <div class="container">
    <div>
      <form class="form-search">
        <input placeholder="Escribe algo..." type="text" class="input-xlarge search-query">
        <button type="submit" class="btn btn-square btn-theme">Buscar</button>
        <a href="{% url 'activity-create-form' %}" class="btn btn-square btn-theme" style="float:right;"><i class="icon-plus-sign"></i> Agregar</a>
      </form>
      
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>TITULO</th>
          <th>FECHA</th>
          <th>HORA</th>
          <th>CLIENTE</th>          
          <th>DESCRIPCIÓN</th>
        </tr>
      </thead>
      <tbody>
        {% for actividad in lista_actividades%}
        <tr>
          <th>{{actividad.id}}</th>
          <th><a href="{% url 'activity-mod-form' actividad.id %}">{{actividad.titulo}}</a></th>
          <th>{{actividad.fecha}}</th>
          <th>{{actividad.hora|date:'H:i'}}</th>
          <th>{{actividad.cliente}}</th>
          <th>{{actividad.descripcion}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}