{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Usuarios</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'user-list' %}">Usuarios</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  
  <div class="container">
    <div>
      <form class="form-search" method="GET">
        <input placeholder="Buscar..." type="text" class="input-xlarge search-query" name="q" value="{{request.GET.q}}">
        <button type="submit" class="btn btn-square btn-theme">Buscar</button>
        <a href="{% url 'user-create-form' %}" class="btn btn-square btn-theme" style="float:right;"><i class="icon-plus-sign"></i> Agregar</a>
      </form>
      
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>USERNAME</th>
          <th>CORREO</th>
          <th>NOMBRES</th>
          <th>APELLIDOS</th>
          <th>ADMIN</th>
          <th>ULTIMA CONEXIÓN</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in lista_usuarios%}
        <tr>
          <th>{{usuario.id}}</th>
          <th><a href="{% url 'user-mod-form' usuario.id %}">{{usuario.username}}</a></th>
          <th>{{usuario.email}}</th>
          <th>{{usuario.first_name}}</th>
          <th>{{usuario.last_name}}</th>
          {% if usuario.is_staff == True %}
            <th><img class="icono" src="{% static 'ico/icon-yes.svg' %}" alt=""></th>
          {% else %}
          <th><img class="icono" src="{% static 'ico/icon-no.svg' %}" alt=""></th>
          {% endif %}
          <th>{{usuario.last_login}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}