{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Agregar comando</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home-admin' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'command-list' %}">Comandos</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% if errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>ERROR!!</strong> Por favor corrija el error a continuación.
    </div>
    {% endif %}
    <div class="modal-body">
      <form class="form-horizontal" action="{% url 'command-create' %}" method="POST">
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Plataforma: </label>
          <div class="controls">
            <select name="id-plataform" id="id-plataform">
              {% if plataforma %}
              {% else %}
                <option selected  value="0">---------</option>
              {% endif %}
              {% for plataform in lista_plataformas %}
                {% if plataform == plataforma %}
                  <option selected value="{{ plataforma.id }}">{{ plataforma.nombre }} ({{ plataforma.tipo }})</option>
                {% else %}
                  <option value="{{ plataform.id }}">{{ plataform.nombre }} ({{ plataform.tipo }})</option>
                {% endif %}
              {% endfor %}
            </select>
            <p class="error">{{errors.0}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Comando: </label>
          <div class="controls">
            <input type="text" name="command" id="command" required value="{{comando}}">
            <p class="error">{{errors.1}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Descripción: </label>
          <div class="controls">
            <input type="text" name="description" id="description" required value="{{descripcion}}">
            <p class="error">{{errors.2}}</p>
          </div>
        </div>
        <div class="control-group">
          <div class="controls2">

            <button type="submit" class="btn btn-square btn-theme">Guardar</button>
            <!-- /.form group -->
            <!-- <a href="" class="btn btn-square btn-theme" style="float: right;">Guardar y agregar otro</a> -->
            <a href="{% url 'command-list' %}" class="btn btn-square btn-theme" style="float: right;">Volver</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}