{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %} KB Outsourcing - KB Outsourcing ETEK {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700"
        rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/jcarousel.css' %}" rel="stylesheet" />
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- Theme skin -->
    <link href="{% static 'skins/blue.css' %}" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}" />
    <link rel="shortcut icon" href="{% static 'ico/kbetek.png' %}" />

</head>

<body>
    <div id="wrapper">
        <!-- toggle top area -->
        <div class="hidden-top">
            <div class="hidden-top-inner container">
                <div class="row">
                    <div class="span12">
                        <ul>
                            <li><strong>ETEK International - Su aliado estratégico</strong></li>
                            <li> Carrera 13 No. 93B 51 | Bogotá, Colombia |</li>
                            <li>Teléfono: <i class="icon-phone"></i> +57(1) 257 15 20</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end toggle top area -->
        <!-- start header -->
        <header>
            <div class="container ">
                <!-- hidden top area toggle link -->
                <div id="header-hidden-link">
                    <a href="#" class="toggle-link" title="Click me you'll get a surprise"
                        data-target=".hidden-top"><i></i>Open</a>
                </div>
                <!-- end toggle link -->
                <div class="row nomargin">
                    <div class="span12">
                        {% if user.is_authenticated %}
                        <div class="headnav">
                            <ul>
                                <li><a href="#Perfil" data-toggle="modal"><i class="icon-user"></i> {{request.user}}</a></li>
                                <li><a href="{% url 'home' %}">Ver sitio</a></li>
                                <li><a href="{% url 'make-logout' %}" data-toggle="modal">Sign Out</a></li>
                            </ul>
                        </div>
                        <!-- Perfil Modal -->
                        <div id="Perfil" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 id="mySignupModalLabel"><strong>Perfil</strong></h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" style="margin-bottom: 0px;" action="{% url 'change-pass' user.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="control-group">
                                        <label class="control-label"><strong>Username: </strong>&nbsp {{user.username}}</label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" style="width: 400px;"><strong>Nombres: </strong>&nbsp {{user.first_name}}</label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" style="width: 400px;"><strong>Apellidos: </strong>&nbsp {{user.last_name}}</label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" style="width: 400px;"><strong>Email: </strong>&nbsp {{user.email}}</label>
                                    </div>
                                    <div class="control-group">
                                        <label >CAMBIAR CONTRASEÑA</label>
                                        <br>
                                        <label class="control-label"><strong>Contraseña antigua: </strong></label>
                                        <div class="controls">
                                            <input type="password" name="old-pass" id="old-pass" required>
                                        </div>
                                        <br>
                                        <label class="control-label"><strong>Contraseña nueva: </strong></label>
                                        <div class="controls">
                                            <input type="password" name="new-pass" id="new-pass" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls3">
                                        <button type="submit" class="btn btn-square btn-blue">Guardar</button>
                                        <button data-dismiss="modal" aria-hidden="true" class="btn btn-square btn-default">Volver</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end Perfil modal -->
                        {% else %}
                        <div class="headnav">
                            <ul>
                                <li>Welcome</li>
                                <li><a href="{% url 'login-form' %}" data-toggle="modal">Sign In</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{% static 'img/etek-logo.png' %}" alt=""
                                    class="logo" /></a>
                            <h1><span class="highlight"><strong>Knowledge Base Outsourcing ETEK</strong></span></h1>
                        </div>
                    </div>
                    <div class="span8" style="margin-top: 30px">
                        <div class="navbar navbar-static-top">
                            <div class="navigation">
                                <nav>
                                    <ul class="nav topnav">
                                        <li class="dropdown">
                                            <a href="{% url 'home-admin' %}">Home <i></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="{% url 'user-list' %}">Usuarios</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="{% url 'activity-list' %}">Actividades</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="{% url 'admin-client-list' %}">Clientes</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'command-list' %}">Comandos</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="{% url 'contact-list' %}">Contactos</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="{% url 'admin-document-list' %}">Documentos</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'admin-plataform-list' %}">Plataformas</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        {% block content %}
        {% endblock %}
        <!-- start footer -->
        <footer>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <div class="copyright">
                                <p>
                                    <span>&copy; KB Outsourcing - All right reserved.</span>
                                </p>
                                <div>
                                    Diseñado por Felipe Castro
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jcarousel/jquery.jcarousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
    <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
    <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
    <script src="{% static 'js/portfolio/setting.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/jquery.nivo.slider.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
    <script src="{% static 'js/jquery.slitslider.js' %}"></script>
    <script src="{% static 'js/animate.js' %}"></script>

    <!-- Template Custom JavaScript File -->
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>