{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>{{cliente.nombre}}</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'client-list' %}">Clientes</a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'client-view' cliente.id %}">{{cliente.nombre}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="row">
    <div class="container">
      <div class="span20">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#contactos" data-toggle="tab"><i class="icon-phone"></i> Contactos Autorizados</a>
          </li>
          <li><a href="#horario" data-toggle="tab"><i class="icon-time"></i> Horario de operación</a></li>
          <li><a href="#actividades" data-toggle="tab"><i class="icon-tasks"></i> Actividades Pendientes</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="contactos">
            <p>
              A continuación se encuantran los contactos autorizados del cliente {{cliente.nombre}}, validarlos en caso de requerimientos,
              llamadas pidiendo información o para contactar en caso de incidente o actividad pendiente.
            </p>
            <br>
            <div class="row">
              {% for contacto in lista_contactos %}
              <div class="span2" style="margin-left: 70px;">
                <p><strong><i class="icon-user"></i></strong> {{contacto.nombre}}</p>
                <p><strong><i class="icon-envelope-alt"></i></strong> {{contacto.email}}</p>
                <p><strong><i class="icon-phone"></i></strong> {{contacto.fijo}}</p>
                <p><strong><i class="icon-mobile-phone"></i></strong> {{contacto.celular}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane" id="horario">
            <p>
              El horario de operación del cliente {{cliente.nombre}} es:
            </p>
            <br>
            <div class="span2" style="margin-left: 30px;">
              <p><strong>Días de operación</strong></p>          
                {% if cliente.dias == 'll' %}
                <p><strong><i class="icon-calendar"></i></strong> Lunes a Lunes</p>
                {% elif cliente.dias == 'lv'%}
                <p><strong><i class="icon-calendar"></i></strong> Lunes a Viernes</p>
                {% else %}
                <p><strong><i class="icon-calendar"></i></strong> Lunes, Miercoles y Viernes</p>
                {% endif %}
              <p><strong>Horario de operación</strong></p>  
              <p><strong><i class="icon-time"></i></strong> {{cliente.horarioInicio|date:'H:i'}} - {{cliente.horarioFinal|date:'H:i'}}</p>
            </div>  
          </div>
          <div class="tab-pane" id="actividades">
            <div>
              <p>
                A continuación se encuantran los actividades pendientes del cliente {{cliente.nombre}}, validar el procedimiento a realiazar 
                y la fecha y hora de ejecución.
              </p>
              <br>
              <!-- start: Accordion -->
              <div class="accordion" id="accordion2">
                {% for actividad in lista_actividades %}
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2"
                      href="#{{actividad.id}}">
                      <i class="icon-minus"></i> {{actividad.fecha}} - {{actividad.hora}}</a>
                  </div>
                  <div id="{{actividad.id}}" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      <p> <strong>Actividad: {{actividad.titulo}}</strong></p>
                      {{actividad.descripcion}}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <!--end: Accordion -->
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}