{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Clientes</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'client-list' %}">Clientes</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    {% for cliente in lista_clientes %}
    <div class="row">
      <div class="span3">
        <div class="pricing-box-alt">
          <div class="pricing-heading">
            <img src="{{cliente.imagen.url}}" class="client-logo" alt="" />
            <h3><strong>{{cliente.nombre}}</strong></h3>
          </div>
          <div class="pricing-action">
            <a href="{% url 'client-view' cliente.id %}" class="btn btn-medium btn-theme"><i class="icon-circle-arrow-right"></i>
              Consultar</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</section>
{% endblock %}