{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Documentación</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'document-list' %}">Documentación</a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'document-view' documento.id %}" style="text-transform: capitalize;">{{documento.titulo}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="span8 document" style="width:-webkit-fill-available;">
        <h3>{{documento.titulo}}</h3>
        <p>Autor: {{documento.autor}}</p>
        <p>Fecha de Publicación: {{documento.fechaPublicacion}}</p>
        <p>Descripción: {{documento.descripcion}}</p>
      </div>
      <div class="span8" style="width:-webkit-fill-available;">
        <iframe src="{{documento.archivo.url}}" style="width:-webkit-fill-available; height:-webkit-fill-available;" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  
</section>
{% endblock %}