{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>Documentación</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'document-list' %}">Documentación</a><i class="icon-angle-right"></i></li>
          {% if categoria %}
            <li><a href="{% url 'document-filter-category' categoria %}" style="text-transform: capitalize;">{{categoria}}</a></li>
          {% elif autor %}
            <li><a href="{% url 'document-filter-author' autor %}" style="text-transform: capitalize;">{{autor}}</a></li>
          {% else %}
           <li><a href="{% url 'document-filter-date' fecha %}" style="text-transform: capitalize;">{{fecha}}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="span8 document">
        {% if categoria %}
          <h3 class="document">Buscando por categoría: {{categoria}}</h3>
        {% elif autor %}
          <h3 class="document">Buscando por autor: {{autor}}</h3>
        {% else %}
        <h3 class="document">Buscando por fecha : {{fecha}}</h3>
        {% endif %}
      </div>
      <div class="span8">
        {% for documento in lista_documentos %}
        <article>
          <div class="row">
            <div class="span8">
              <div class="post-image">
                <div class="post-heading">
                  <h3><a href="{% url 'document-view' documento.id %}">{{documento.titulo}}</a></h3>
                </div>
                <img src="img/dummies/blog/img1.jpg" alt="" />
              </div>
              <p>{{documento.descripcion}}</p>
              <div class="bottom-article">
                <ul class="meta-post">
                  <li><i class="icon-calendar"></i><a href="{% url 'document-filter-date' documento.fechaPublicacion %}">{{documento.fechaPublicacion}}</a></li>
                  <li><i class="icon-user"></i><a href="{% url 'document-filter-author' documento.autor %}">{{documento.autor}}</a></li>
                  {% if documento.categoria == 'tutorial' %}
                    <li style="text-transform:capitalize"><i class="icon-film"></i><a href="{% url 'document-filter-category' documento.categoria %}">{{documento.categoria}}</a></li>
                  {% else %}
                    <li style="text-transform:capitalize"><i class="icon-file"></i><a href="{% url 'document-filter-category' documento.categoria %}">{{documento.categoria}}</a></li>
                  {% endif %}
                </ul>
                <a href="{% url 'document-view' documento.id %}" class="pull-right">Continuar <i class="icon-angle-right"></i></a>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
     <!-- <div class="span4">
        <aside class="right-sidebar">
          <div class="widget">
            <form class="form-search">
              <input placeholder="Escribe algo..." type="text" class="input-medium search-query">
              <button type="submit" class="btn btn-square btn-theme">Buscar</button>
            </form>
          </div>
          <div class="widget">
            <h5 class="widgetheading">Categorías</h5>
            <ul class="cat">
              <li><i class="icon-angle-right"></i><a href="{% url 'document-filter-category' 'reportes' %}">Reportes</a></li>
              <li><i class="icon-angle-right"></i><a href="{% url 'document-filter-category' 'informes' %}">Informes</a></li>
              <li><i class="icon-angle-right"></i><a href="{% url 'document-filter-category' 'procesosBK' %}">Procesos Backups</a></li>
              <li><i class="icon-angle-right"></i><a href="{% url 'document-filter-category' 'tutorial' %}">Tutoriales</a></li>
              <li><i class="icon-angle-right"></i><a href="{% url 'document-filter-category' 'articulo' %}">Artículos</a></li>
            </ul>
          </div>
        </aside>
      </div>-->
    </div>
  </div>
</section>
{% endblock %}