{% extends 'base-admin.html' %}
{% load static %}
{% block content %}
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="big-cta">
                    <div class="aligncenter">
                        <h3>Sitio de administación para la base de conocimiento <span
                                class="highlight"><strong>outsourcing</strong></span> de ETEK International</h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-user icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>USUARIOS</h6>
                                <div class="opc">
                                    <ul>
                                        <li><a href="{% url 'user-create-form' %}"><i class="icon-plus"></i>Agregar</a></li>
                                        <li><a href="{% url 'user-list' %}"><i class="icon-pencil"></i>Modificar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-tasks icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>ACTIVIDADES</h6>
                                <div class="opc">
                                    <ul>
                                        <li><a href="{% url 'activity-create-form' %}"><i class="icon-plus"></i>Agregar</a></li>
                                        <li><a href="{% url 'activity-list' %}"><i class="icon-pencil"></i>Modificar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-briefcase icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>CLIENTES</h6>
                                <div class="opc">
                                    <ul>
                                        <li><a href="{% url 'client-create-form' %}"><i class="icon-plus"></i>Agregar</a></li>
                                        <li><a href="{% url 'admin-client-list' %}"><i class="icon-pencil"></i>Modificar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-list icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>COMANDOS</h6>
                                <div class="opc">
                                    <ul>
                                        <li><a href="{% url 'command-create-form' %}"><i class="icon-plus"></i>Agregar</a></li>
                                        <li><a href="{% url 'command-list' %}"><i class="icon-pencil"></i>Modificar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-group icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>CONTACTOS</h6>
                                <div class="opc">
                                    <ul>
                                        <li><a href="{% url 'contact-create-form' %}"><i class="icon-plus"></i>Agregar</a></li>
                                        <li><a href="{% url 'contact-list' %}"><i class="icon-pencil"></i>Modificar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-file-alt icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>DOCUMENTOS</h6>
                                <div class="opc">
                                    <ul>
                                        <li><a href="{% url 'document-create-form' %}"><i class="icon-plus"></i>Agregar</a></li>
                                        <li><a href="{% url 'admin-document-list' %}"><i class="icon-pencil"></i>Modificar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-hdd icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h6>PLATAFORMAS</h6>
                                <div class="opc">
                                    <ul>
                                        <li><a href="{% url 'plataform-create-form' %}"><i class="icon-plus"></i>Agregar</a></li>
                                        <li><a href="{% url 'admin-plataform-list' %}"><i class="icon-pencil"></i>Modificar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}