{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="big-cta">
                    <div class="aligncenter">
                        <h3>Base de conocimiento para el area de <span
                                class="highlight"><strong>outsourcing</strong></span> de ETEK International</h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <a href="{% url 'plataform-view' 'firewall' %}"><i  class="icon-fire icon-circled icon-64 active"></i></a>                               
                            </div>
                            <div class="text">
                                <h6>FIREWALL</h6>
                                <p>
                                    Consulte en la base de conocimiento de los firewalls los 
                                    comandos para cada tipo de fabricante.
                                </p>
                                <a href="{% url 'plataform-view' 'firewall' %}">Conocer más</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <a href="{% url 'plataform-view' 'ips' %}"><i class="icon-hdd icon-circled icon-64 active"></i></a>
                            </div>
                            <div class="text">
                                <h6>IPS</h6>
                                <p>
                                    Consulte en la base de conocimiento de los IPS los 
                                    comandos para cada tipo de fabricante.
                                </p>
                                <a href="{% url 'plataform-view' 'ips' %}">Conocer más</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <a href="{% url 'client-list' %}"><i class="icon-briefcase icon-circled icon-64 active"></i></a>
                            </div>
                            <div class="text">
                                <h6>CLIENTES</h6>
                                <p>
                                    Consulte la información de los clientes como: Horarios, contactos autorizados 
                                    y actividades pendientes.
                                </p>
                                <a href="{% url 'client-list' %}">Conocer más</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <a href="{% url 'document-list' %}"><i class="icon-file-alt icon-circled icon-64 active"></i></a>
                            </div>
                            <div class="text">
                                <h6>DOCUMENTOS</h6>
                                <p>
                                    Consulte los documentos almcenados como: Reportes, informes, tutoriales,
                                    artículos y demas procesos.
                                </p>
                                <a href="{% url 'document-list' %}">Conocer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="row">
            <div class="span12">
                <h4>KB FABRICANTES</h4>
                <ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
                    <li>
                        <a href="https://supportcenter.checkpoint.com/supportcenter/portal?eventSubmit_doHome">
                            <img src="{% static 'img/clients/Check-Point.png' %}" class="logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="https://kb.fortinet.com/kb/microsites/microsite.do">
                            <img src="{% static 'img/clients/fortinet.png' %}" class="client-logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'img/clients/ibm.png' %}" class="client-logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="https://docs.imperva.com/?_ga=2.253207054.664472584.1574555244-670052716.1574555244">
                            <img src="{% static 'img/clients/imperva.png' %}" class="client-logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tripwire.com/it-resources/">
                            <img src="{% static 'img/clients/tripwire.png' %}" class="client-logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.tufin.com/support/kc/latest/">
                            <img src="{% static 'img/clients/tufin.png' %}" class="client-logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'img/clients/mobileiron.png' %}" class="client-logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="https://kb.pulsesecure.net/">
                            <img src="{% static 'img/clients/pulse-secure.png' %}" class="client-logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'img/clients/mcafee.jpg' %}" class="client-logo" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}