{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700"
        rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/jcarousel.css' %}" rel="stylesheet" />
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- Theme skin -->
    <link href="{% static 'skins/blue.css' %}" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}" />
    <link rel="shortcut icon" href="{% static 'ico/kbetek.png' %}" />
    <style>
        body {
            background-image: url("{% static 'img/bodybg/bg0.png' %}");
        }
    </style>

</head>

<body>
    <div id="root">
        <div class="login-page">
            <div class="login-box1">
                <div class="login-box2">
                    <div class="jss1 jss4 login-box3" smallscreen="false">
                        <div class="login-box4"><img style="width: 155px;margin-bottom: 10px;"
                                src="{% static 'img/etek-logo.png' %}">
                            <h6 style="font-size: 14px;margin-bottom: 0px;"><span class="highlight"><strong>Knowledge
                                        Base Outsourcing ETEK</strong></span></h6>
                            <br>
                            <h3 class="login-h3" size="20" font-weight="bold">Iniciar Sesión</h3>
                            <p  size="14">Ingrese con las credenciales suministradas por el
                                administrador</p>

                            <form action="{% url 'make-login' %}" method="POST">
                                {% csrf_token %}
                                <div style="padding-bottom: 20px; margin-top: 20px;">
                                    <div class="login-box5"
                                        style="width: 100%; cursor: default; color: rgb(102, 102, 102);"><label
                                            class="login-label" cursor="inherit">User Name</label>
                                        <div class="login-box6">
                                            <input type="text" name="username" id="username" class="login-input"
                                                style="height: 40px; margin-top: 10px;" value="{{username}}"></div>
                                    </div><br>
                                    <div class="login-box5"
                                        style="width: 100%; cursor: default; color: rgb(102, 102, 102);"><label
                                            class="login-label" cursor="inherit">Password</label>
                                        <div class="login-box6">
                                            <input type="password" name="password" id="password" class="login-input"
                                                style="height: 40px; margin-top: 10px;"></div>
                                    </div>
                                    <p class="login-p-error">{{error}}</p>
                                    <button type="submit" style="width: 100%;" class="btn btn-large btn-theme">Sign In</button>                               
                                </div>
                            </form>
                            <div >
                                <p>¿Usuario nuevo? Por favor contactar con el administrador</p>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>