{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2><strong>{{plataforma.nombre}}</strong></h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'plataform-list' %}">Plataformas</a><i class="icon-angle-right"></i></li>
          <li><a style="text-transform: capitalize;" href="{% url 'plataform-view' plataforma.tipo %}">{{ plataforma.tipo }}</a><i class="icon-angle-right"></i></li>
          <li><a href="">{{plataforma.nombre}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="row">
    <div class="container">
      <div class="span20">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#comandos" data-toggle="tab"><i class="icon-cog"></i> Comandos</a></li>
          <li><a href="#clientes" data-toggle="tab"><i class="icon-briefcase"></i>Clientes</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="comandos">
            {% for comando in lista_comandos %}
            <p>
              <strong>{{comando.comando}}:</strong> 
            </p>
            <p>
              {{comando.descripcion}}
            </p>
            {% endfor %}
          </div>
          <div class="tab-pane" id="clientes">
            <p>
              A continuación los clientes que cuentan con {{plataforma.tipo}} {{plataforma.nombre}} y que es administrado por outsourcing ETEK:
              <ul>
                {% for cliente in lista_clientes %}
                  <a href="{% url 'client-view' cliente.id %}"><li>{{cliente}}</li></a>    
                {% endfor %}        
              </ul> 
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}