{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          {% if tipo == 'ips' %}
            <h2><strong style="text-transform: uppercase;">{{ tipo }}</strong></h2>
          {% else %}
            <h2><strong style="text-transform: capitalize;">{{ tipo }}</strong></h2>
          {% endif %}
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'plataform-list' %}">Plataformas</a><i class="icon-angle-right"></i></li>
          <li><a style="text-transform: capitalize;" href="{% url 'plataform-view' tipo %}">{{ tipo }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    {% for plataforma in lista_plataforma %}
    <div class="row">
      <div class="span4">
        <div class="pricing-box-alt">
          <div class="pricing-heading">
            <img src="{{ plataforma.imagen.url }}" class="client-logo" alt="" />
            <h3><strong>{{ plataforma.nombre }}</strong></h3>
          </div>
          <div class="pricing-terms">
            <h6>{{ plataforma.descripcion }}
            </h6>
          </div>
          <div class="pricing-action">
            <a href="{% url 'plataform-kb' plataforma.tipo plataforma.nombre %}" class="btn btn-medium btn-theme"><i
        class="icon-circle-arrow-right"></i>Consultar</a>
    </div>
  </div>
  </div>
  {% endfor %}
  </div>
  </div>
</section>
{% endblock %}