{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- end header -->
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="big-cta">
                    <div class="aligncenter">
                        <h3>En esta sección puedes encontrar la base de conocimiento por plataforma. A continuación selecciona la plataforma que desees consultar</h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-fire icon-rounded icon-128 active"></i>
                            </div>
                            <div class="text">
                                <h6>FIREWALL</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea
                                    facilisis.
                                </p>
                                <a href="{% url 'plataform-view' 'firewall' %}">Consultar</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-hdd icon-rounded icon-128 active"></i>
                            </div>
                            <div class="text">
                                <h6>IPS</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea
                                    facilisis.
                                </p>
                                <a href="{% url 'plataform-view' 'ips' %}">Consultar</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-hdd icon-rounded icon-128 active"></i>
                            </div>
                            <div class="text">
                                <h6>PROXY</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea
                                    facilisis.
                                </p>
                                <a href="{% url 'plataform-view' 'proxy' %}">Consultar</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-desktop icon-rounded icon-128 active"></i>
                            </div>
                            <div class="text">
                                <h6>OTROS</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea
                                    facilisis.
                                </p>
                                <a href="{% url 'plataform-view' 'otro' %}">Consultar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
    </div>
</section>
{% endblock %}