{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2>Enviar documento</h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
          <li><a href="{% url 'send-document-form' %}">Enviar documento</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h4>Se enviará el documento al administrador con el fin de realizar las respectivas validaciones.
          Por favor diligenciar todos los campos y anexar el documento.
        </h4>
        {% if msj_doc %}
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Gracias!!</strong> {{msj_doc}}.
          </div>
        {% endif %}
        <form class="contactForm" enctype="multipart/form-data" action="{% url 'send-document' %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="span4 form-group">
              <input type="text" name="title" class="form-control" id="title" placeholder="Título del documento" value="{{titulo}}" />
              <p class="error">{{errors.0}}</p>
            </div>
            <div class="span4 form-group">
              <select name="category" id="category">
                {% if categoria %}
                {% else %}
                  <option value="0" selected>Seleciona una categoría...</option>
                {% endif %}
                {% if categoria == 'reportes' %}
                  <option value="reportes" selected>Reportes</option>
                {% else %}
                  <option value="reportes">Reportes</option>
                {% endif %}
                {% if categoria == 'informes' %}
                  <option value="informes" selected>Informes</option>
                {% else %}
                  <option value="informes">Informes</option>
                {% endif %}
                {% if categoria == 'procesosBK' %}
                  <option value="procesosBK" selected>Proceso BackUp</option>
                {% else %}
                  <option value="procesosBK">Proceso BackUp</option>
                {% endif %}
                {% if categoria == 'tutorial' %}
                  <option value="tutorial" selected>Tutorial</option>
                {% else %}
                  <option value="tutorial">Tutorial</option>
                {% endif %}
                {% if categoria == 'articulo' %}
                  <option value="articulo" selected>Artículo</option>
                {% else %}
                  <option value="articulo">Artículo</option>
                {% endif %}
              </select>
              <p class="error">{{errors.1}}</p>
            </div>
            <div class="span12 margintop10 form-group">
              <textarea class="form-control" name="description" id="description" rows="12" placeholder="Descripción">{{descripcion}}</textarea>
              <p class="error">{{errors.2}}</p>
              <div class="form-group text-center">
                <p><strong>Adjuntar documento:</strong></p>
                <input type="file" name="file" id="file" />
                <p class="error">{{errors.3}}</p>
              </div>
              <br>
              <p class="text-center">
                <button class="btn btn-large btn-theme margintop10" type="submit">Enviar documento</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}